body {
    margin: 0;
    background-color: #F5F5F5;
} 

.container{
    width: 600px;
    background-color: white !important;
    margin: 1.5em auto;
    font-size: 1.2rem;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.7em;
    min-height: 112vh;
    position: relative;
}
header{
    background-image: url('image/header.jpg');
    width: 600px;
    height: 167px;
}

.content{
    /* padding: 1em; */
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #DEDEDE;
    padding: .5em;
    margin: 1em;
}
.description{
    display: flex;
  
}
.emoji{
    align-self: center;
    font-size: 3rem;
    padding-right:.5em ;
}
.title{
    font-weight: bold;
}
.title-price{
    font-weight: bold;
}
.item-description{
    display: flex;
}
.btn{
    align-self: center;
    border-radius: 50%;
    min-height: 50px;
    min-width: 50px;
    font-size: 2rem;
    border: none;
    cursor: pointer;
    background-color: white;
    border: 2px solid #DEDEDE;
}
.footer{
    background-color: white;
    padding: 1em;
}
.footer-content{

    padding: 1em;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer-price{
    font-weight: bold;
}
.footer-title{
    text-align: center;
    font-weight: bold;
    display: none;
}
.show{
    display: block;
}
.btn-danger{
    margin-left:1em;
}
.footer-name{
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 1px solid red; */
}

.total-content{
    border-top: 2px solid #DEDEDE;
    display: flex;
    justify-content: space-between;
    margin: 1em;
    font-weight: bold;
}
.btn-danger{
    color:red;
}
.order-btn{
    padding: .7em 1.5em;
    background-color: #16DB99;
    width: 100%;
    border: none;
    color: white;
    cursor: pointer;
}
.order-btn:hover{
    background-color:#16db99d3 ;
}

.model{
    background-color: white;
    box-shadow: 0px 0px 5px 0px black;
    position: absolute;
    margin: 2em;
    padding: 1em;
    top: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    visibility: hidden;
}
.show-model{
    visibility:visible;
}
.model>h3{
    color: black;
    margin-left: 2em;
}
.model>input[type="text"]{
    display: block;
    margin: .5em;
    padding: 1em;
    width: 100%;
}

.pay-btn{
    padding: .7em 1.5em;
    background-color: #16DB99;
    width: 100%;
    border: none;
    color: white;
    cursor: pointer;
}
.success-alert{
    background-color: #ECFDF5;
    color:#065F46;
    /* opacity: .9; */
    margin: 1em;
    padding: 1em;
    font-weight: bold;
    display: none;
}
.show-alert{
    display: block;
}